.btn-b-full{
    width: 100%;
    display: block;
    padding:12px 24px ;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
    background-color: var(--buttonBlackBackground);
    margin-bottom: 20px;
}
.btn-b{
    display: inline-block;
    padding:12px 24px ;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
    background-color: var(--buttonBlackBackground);
    margin-bottom: 20px;
}
.btn-b span{
    color:white


}
.btn-b:hover{
    background-color: var(--buttonHover);
}

