h2{
    font-family: roboto;
    color: var(--h2Color);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.6;

    
}

.getOTP{
    display: none;
}
p{
    font-family: roboto;
    color: var(--text-secondary);
    font-size: 13px;
}
.errorMsg{
    font-size: 13px;
    font-weight: 400;
    color: var(--buttonHover);
    padding-top: 10px;
    display: none;
}
.navbar .checking{
    top: 109px;
}
.ddShop{
    top:149px;
}
.container .productArea .personalDetails .field .bind {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.container .productArea .personalDetails .field .bind .label{
    width: 17%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container .productArea .personalDetails .field .bind .input{
    width: 83%;
}
.container .productArea .personalDetails .header{
    margin-bottom: 20px;
    padding: 7px 0;
    border-bottom:1px solid var(--borderColor);
    
}
.container .productArea .personalDetails .field .bind .input input{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--borderColor);
    transition: 0.2s ease-in-out;
    font-family: roboto;
    color: var(--topBar);
    font-size: 14px;
}
.container .productArea .personalDetails .field .bind .input input:focus{
    outline: none;
    border: 1px solid var(--text-secondary);

}
.container .productArea .personalDetails .field .bind .label span{
    color:var(--topBar);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 20px;

}
.container .productArea .continue{
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.container .productArea .continue span{
    letter-spacing: 1px;
    background-color: var(--buttonBlackBackground);
font-family: roboto;
font-weight: 400;
font-size: 13px;
padding: 12px 24px;
cursor: pointer;

color: white;
}
@media all and (max-width:760px) {
    .container .productArea .personalDetails .field .bind{
        flex-direction: column;
    }
    .container .productArea .personalDetails .field .bind .label{
        justify-content: flex-start;
        margin-bottom: 7px;
        width: 100%;
    }
    .container .productArea .personalDetails .field .bind .input{
        width: 100%;
    }

}