.container .navbar{
    width:1500px;
    height:150px ;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--borderColor);
    z-index: 12;
    background-color: white;
    margin: auto;
}
.container .navbarContainer{
    width: 100%;
    z-index: 9998;
    background-color: white;

}
.container .navbar .topBar{
    color: var(--topBar);
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
    font-size: 13px;
}
.container .navbar .topBar span{
    font-weight: 400;
    
}
.container .navbar .topBar .left{
    display: flex;
    
}
.container .navbar .topBar .btn{
    transition: 0.3s ease-in-out;
}
.container .navbar .topBar .btn:hover{
    color: var(--headerTextColor);
}
.container .navbar .topBar .left .navbarInfo{
    margin-right: 30px;
}
.container .navbar .bottomBar{
    width: 100%;
    height: 70%;
    display: flex;

}
.container .navbar .bottomBar .logo{
    min-width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
}
.container .navbar .bottomBar .logo span{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}
.container .navbar .bottomBar .bottomNavbar{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding: 25px 20px;
    /* position: relative; */

}
.container .navbar .bottomBar .bottomNavbar .option{
    padding: 0px 30px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    position: relative;
}
.container .navbar .bottomBar .bottomNavbar .option i{
    transition: 0.3s ease-in-out;
}
.container .navbar .bottomBar .bottomNavbar .option:hover{
    background-color:var(--buttonHover);
    color: white;
}

.container .navbar .bottomBar .bottomNavbar .option:hover i{
    transform: rotate(-90deg);
}
.container .navbar .bottomBar .bottomNavbar .option span{
    font-family: 'Jost', sans-serif;
    font-weight: 500;

}
.container .navbar .bottomBar .bottomNavbar .option::after{
    content: '';
    position: absolute;
    top: 105%;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: var(--buttonHover) ;
  
    transition: 0.3s ease-in-out;
}
.container .navbar .bottomBar .bottomNavbar .option:hover::after{
    width: 100%;
    left: 0%;
}

.container .navbar .bottomBar .bottomNavbar .option span{
    margin-right: 10px;
}
.container .navbar .bottomBar .sideNavs{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
}
.container .navbar .bottomBar .sideNavs .btn i{
    transition: 0.5s ease-in-out;
}
.container .navbar .bottomBar .sideNavs .btn i:hover{
    transform: rotateY(180deg);
}
.container .navbar .bottomBar .sideNavs .btn .count{
    background-color: black;
    border-radius: 50%;
    color: white;
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    text-align: center;
}
.container .navbar .bottomBar .sideNavs .search{
    height: 50px;
    width: 50px;
    display: flex;
    background-color:#f5f5f5;
    justify-content: center;
align-items: center;
border-radius: 50%;
}
/* .homeNavbar{
}
.homeNavbar::before{
    position: absolute;
    content: '';
    width: 100vh;
    height: 400px;
    background-color: red;
    top: 105%;
    left: 0;
} */

.ddHome{
    z-index: 10;
    transform-origin: top;
    position: absolute;
    top: 145%;
    width: 150px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    height: 200px;
    transform: rotateX(90deg);
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--borderColor);
    transition: 0.3s ease-in-out;
    color: var(--topBar);
    font-weight: 200;
    font-size: 13px;
    padding: 15px;

    
}
.homeNavbar:hover  .ddHome{
    
    transform: rotateX(0deg);

}
.ddShop{
    z-index: 10;
    position: absolute;
    left:0;
    top: 190px;
    width: 100vw;
    min-height: 300px;
    transform: rotateX(90deg);
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform-origin: top;
}
.ddShop .ddShopInfo{
    z-index: 10;
    border: 2px solid var(--borderColor);
    border-top: none;
    padding: 20px;
    width: 1500px;
    height: 100%;
    column-count: 3;
    color: var(--topBar);
    background-color: white;
}
.shopNavbar:hover + .ddShop{
    transform: rotateX(0deg);
    
}
.ddShop:hover{
    transform: rotateX(0deg);

}
.ddShopInfo .listItems{
    padding: 6px 0;
    
    width: 80%;
}

.ddShopInfo .listHead{
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--borderColor);
    width: 80%;
}
.ddShopInfo .listHead span{ 
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--headerTextColor);

}
.ddShopInfo .listItems span{
    font-weight: 400;
    font-size: 13px;
}
@media all and (max-width:1600px) {
    .container .navbar{
        width: 90%;
    }
    .container .navbar .bottomBar .sideNavs{
        width: 300px;
    }
    .ddShop .ddShopInfo{
        
        width: 90%;
    }
}
.container .navbar .bottomBar .mobileNavbarMenu{
    display: none;
}
.searchScreen{
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    overflow: hidden;
    animation: searchActive 0.3s 1;
}
.searchScreenOff{
    animation: searchDeactive 0.5s 1;

}
@keyframes searchDeactive {
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes searchActive {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.searchScreen .searchBox{
    animation: searchTopDown 0.3s 1;
    transform: translateY(0%);
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.searchTopDownRev{
    animation: searchTopDownRev 0.3s 1;
}
@keyframes searchTopDownRev {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-100%);
    }
}
@keyframes searchTopDown {
    from{
        transform:translateY(-100%);
    }
    to{
        transform:translateY(0%);

    }
}
.searchScreen .searchBox span{
    font-size:20px;
    font-weight: 400;
    color: #222222;
    font-family: 'jost';
}

.searchScreen .searchBox .closeBtn{
    position: absolute;
    right: 122px;
    top: 40px;
    z-index: 1000;
}
.searchScreen .searchBox .closeBtn i{
    font-size: 26px;
    color: var(--topBar);
    transition: 0.7s ease-in-out;
}
.searchScreen .searchBox .closeBtn i:hover{
    transform: rotateZ(180deg);
}
.searchScreen .searchBox .searchBar{
    display: flex;
    flex-direction: column;
    width: 1740px;
    position: relative;
}
.searchScreen .searchBox .searchBar i{
    position: absolute;
    right: 0;
    color: var(--topBar);
    font-size: 30px;
    top: 44%;
    transform: translateY(-100%);

}
.searchScreen .searchBox .searchBar input{
    height: 80px;
    font-family: 'jost';
    border: none;
    font-size: 30px;
    font-weight: 500;
    line-height: 80px;
    color: var(--headerTextColor);
    border-bottom: 1px solid var(--borderColor);
}
.searchScreen .searchBox .searchBar input:focus{
    outline: none;
}
.searchScreen .searchBox  .outputBar{
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 1740px;
}
.searchScreen .searchBox i{
    transition: 0.3s ease-in-out;
}
.searchScreen .searchBox i:hover{
    color: #111111;
    cursor: pointer;

}
.searchScreen .searchBox  .outputBar .searchProductCard{
    width: 160px;
    height: 300px;
    margin: 20px;
}
.searchScreen .searchBox  .outputBar .searchProductCard .img{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchScreen .searchBox  .outputBar .searchProductCard .img img{
   
    width: 100%;
}
.searchScreen .searchBox  .outputBar .searchProductCard .productName span{
    font-size: 14px;
}
.container .navbar .bottomBar .sideNavs{
    position: relative;
}
.cartDD{
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: calc((150px * 70)/100);
    z-index: 9998;
    background-color: white;
    padding: 0px;
    height: 0px;
    overflow: hidden;
    transition: 0.3s height,padding ease-in-out;
}
.emptyCart{
    display: none;
}
.cartElm{
    margin: 20px;
}
@keyframes cartDDdown{
    from{
       transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}
.cartDD .cartProd td{
    height: 150px;
    padding: 10px 4px;
    text-align: top;
    font-size: 14px;
    font-family: roboto;
    color: #555555;
    letter-spacing: 1px;
    vertical-align: top;
    
}
.cartDD .cartProd table td:nth-child(4){
    font-family: jost;
    color: #222;
    font-weight: bold;
}
.cartDD .bottomRes table{
    padding: 5px 0;
    font-size: 13px;
    font-family:jost;
    color: #555555;
    width: 100%;

    border-bottom: 1px solid var(--borderColor);
}
.cartDD .bottomRes table td{
    width: 50%;
    letter-spacing: 1px;

}
.cartDD .bottomRes table td:nth-child(2){
    text-align: end;
    color: #222;
    font-weight: 500;
}
.cartDD .cartProd td{
    border-collapse: collapse;
    border-bottom: 1px solid var(--borderColor);
    
}
.cartDD .bottomRes .btn{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 6px;
}
.cartDD .bottomRes .btn span{
    
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 13px;
}
.cartDD .bottomRes .options{
    padding: 5px 0;
}
.cartDD .bottomRes .cartDetails{
    background-color: var(--buttonBlackBackground);
}
.cartDD .bottomRes  .cartCheckout{
    background-color: var(--buttonHover);
}
.cartBG{
    animation: searchActive 0.3s 1;
    z-index:9997;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    background-color: rgb(0, 0, 0,0.6);

}
@media all and (max-width:1800px) {
    .searchScreen .searchBox .searchBar,.searchScreen .searchBox  .outputBar{
        width: 1260px;
    }

    
}
@media all and (max-width:1300px) {
    .searchScreen .searchBox .searchBar,.searchScreen .searchBox  .outputBar{
        width:1170px;
    }
    .searchScreen .searchBox  .outputBar a{
    }
    .searchScreen .searchBox  .outputBar .searchProductCard{
        height: 200px;
        width: 130px;
    }
    .searchScreen .searchBox  .outputBar .searchProductCard span{
        font-size: 13px;
    }
}
@media all and (max-width:1200px) {
    .searchScreen .searchBox .searchBar,.searchScreen .searchBox  .outputBar{
        width: 970px;
    }
    .searchScreen .searchBox .closeBtn{
        right: 10%;
    }
}
@media all and (max-width:1000px) {
    .cartDD{
        top:65px;
    }
    .searchScreen .searchBox .searchBar,.searchScreen .searchBox  .outputBar{
        width: 750px;
    }
    .searchScreen .searchBox{
    
        padding-top: 40px;
    }
    .searchScreen .searchBox .outputBar{
        padding-bottom: 50px;
    }
    .searchScreen .searchBox .searchBar i{
        font-size:20px;
        top:50%;
        right: 10px;
    }
    .searchScreen .searchBox .closeBtn{
        right: 5%;
    }
}
@media all and (max-width:760px) {
    
    .searchScreen .searchBox .outputBar a{
        width: calc(100% / 3);
        min-height: calc(80vh / 3);
    }
    .searchScreen .searchBox .searchBar,.searchScreen .searchBox  .outputBar{
        width: 100%;
        padding: 0 15px;
    }
    .searchScreen .searchBox{
    
        padding-top: 20px;
    }
    .searchScreen .searchBox  .outputBar{
        padding-bottom: 20px;
    }
    .searchScreen .searchBox .closeBtn{
        top: 26px;
        right:25px ;

    }
    .searchScreen .searchBox .closeBtn i{
        font-size: 20px;
    }
    .searchScreen .searchBox .searchBar i{
        top:63%;
        right: 20px;
    }
    .searchScreen .searchBox  .outputBar .searchProductCard{
        height: auto;
        width: auto;
    }
   
}
@media all and (max-width:600px) {
    .searchScreen .searchBox .outputBar a{
        width: calc(100% / 2);
        min-height: calc(80vh / 3);
    }
}
@media all and (max-width:1000px) {
    .container .navbar .bottomBar .sideNavs{
        width: 170px;
        scale: 0.9;
        padding: 0;
        transform-origin: right;
        color: var(--headerTextColor);
        z-index: 1000;
    }
    .container .navbar .bottomBar .mobileNavbarMenu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .container .navbar .bottomBar .mobileNavbarMenu span{
        font-family: 'jost';
        font-weight: bold;
        font-size: 30px;
        margin-left: 15px;
    }
    .container .navbar{
        height: 110px;
    }
    .container .navbar .topBar{
        height: 45%;
    }
    .container .navbar .bottomBar{
        height: 55%;
        justify-content: space-between;
    }
    .container .navbar .bottomBar .logo,.container .navbar .bottomBar .bottomNavbar{
        display: none;
    }
    .container .navbar .topBar{
        font-size: 11px;
    }
}
.navbar .checking{
    display: none;
}
@media all and (max-width:1000px) {
    .navbar{
        
    }
    .navbar .checking{
        overflow: hidden;
        transition: 0.3s ease-in-out;
        z-index: 990;
        top: 150px;
        position: absolute;
        display: flex;
        height: 0px;
        width: 100vw;
        left: 0;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        padding: 0px;
    }
    .navbar .checking .option{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .checking .option span{
        font-weight: 400;
        font-size: 15px;
        font-family: 'jost';
        color: var(--headerTextColor);

    }
    .navbar .checking .option i{
        color: var(--topBar);

    }
    
}
.navbar .checking .mobileViewMenu{
    overflow: hidden;
    transition: 0.3s ease-in-out;
    height: 0px;
}
.navbar .checking .mobileViewMenu .Doption{
    height: 30px;
    
}
.navbar .checking .mobileViewMenu span{
    padding: 10px;
    font-size: 15px;
    font-family: 'jost';
    font-weight: 400;
    color: var(--topBar);
}
.navbar .checking .mobileViewMenu .listHead span{

padding: 0 10px;
margin: 0;
color: var(--headerTextColor);
font-size: 20px;
font-family: 'jost';
font-weight: 400;}
.navbar .checking .mobileViewMenu .listItems{

    padding: 2px;
}
.navbar .checking .mobileViewMenu .listItems span{
    font-size: 15px;
    font-family: 'jost';
    font-weight: 400;    padding: 0 10px;
}